<a href="." class="youtube__heading-logo">
    <img src="./assets/images/logo.svg">
    <span>ma</span>
</a>
<div class="youtube__heading-search">
    <div class="youtube__heading-search_text">
        <input type="text" placeholder="Search">
        <img src="./assets/images/header/delete.svg" class="youtube__heading-search_text-delete">
        <div class="override"></div>
    </div>
    <div class="youtube__heading-search_other">
        <div data-placeholder="Search"><img src="./assets/images/header/search.svg" alt=""></div>
        <div data-placeholder="Search with your voice"><img src="./assets/images/header/voice.svg" alt=""></div>
    </div>
</div>
<div class="youtube__heading-icons">
    <div class="youtube__heading-icons_icon" data-placeholder="Create">
        <img src="./assets/images/header/create.svg" onclick="omar(this)" alt="">
    </div>
    <div class="youtube__heading-icons_icon" data-placeholder="YouTube apps">
        <img src="./assets/images/header/grid.svg" onclick="omar(this)" alt="">
    </div>
    <div class="youtube__heading-icons_icon" data-placeholder="Notifications">
        <img src="./assets/images/header/notification.svg" onclick="omar(this)" alt="">
    </div>
    <div class="youtube__heading-icons_user">u</div>
</div>